project_id = "aejugtmhwwknrowfyzie"

[functions.admin-api-operations]
verify_jwt = false

[functions.invoice-management]
verify_jwt = false

[functions.enforce-tenant-limits]
verify_jwt = false

[functions.menu-access-validate]
verify_jwt = false

[functions.menu-generate]
verify_jwt = true

[functions.menu-burn]
verify_jwt = true

[functions.menu-whitelist-manage]
verify_jwt = true

[functions.generate-product-images]
verify_jwt = true

[functions.super-admin-auth]
verify_jwt = false

[functions.admin-auth]
verify_jwt = false

[functions.tenant-admin-auth]
verify_jwt = false

[functions.customer-auth]
verify_jwt = false

[functions.tenant-invite]
verify_jwt = true

[functions.update-subscription]
verify_jwt = true